# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

 埼玉県内の全鉄道駅において、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)を、小さい順に並べ、最初の10件を示せ。（出力は県名、駅名、人口増減率とすること）

## prerequisites

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [3]:
# " "のなかにSQL文を記述 planet_osm_point
sql="""
with pop201904 as (
    select p.name, d.year, d.month, d.population, p.geom
    from pop as d
    inner join pop_mesh as p
        on p.name = d.mesh1kmid
    where d.year = '2019' 
      and d.month = '04' 
      and d.dayflag = '0' 
      and d.timezone = '0'
),
pop202004 as (
    select p.name, d.year, d.month, d.population, p.geom
    from pop as d
    inner join pop_mesh as p
        on p.name = d.mesh1kmid
    where d.year = '2020' 
      and d.month = '04' 
      and d.dayflag = '0' 
      and d.timezone = '0'
)
select  buffer.name as station_name, poly.name_1 as prefecture,
       (pop202004.population - pop201904.population) / pop201904.population::float as population_rate
from planet_osm_point as pt
join (
    select pt.osm_id, pt.name, st_buffer(pt.way, 100) as st_buffer
    from planet_osm_point pt, adm2 poly2
    where pt.railway = 'station'
      and poly2.name_1 = 'Saitama'
      and st_within(pt.way, st_transform(poly2.geom, 3857))
) as buffer on st_within(pt.way, buffer.st_buffer)
join pop201904 as pop201904 on st_within(pt.way, st_transform(pop201904.geom, 3857))
join pop202004 as pop202004 on st_within(pt.way, st_transform(pop202004.geom, 3857))
join adm2 as poly on st_within(pt.way, st_transform(poly.geom, 3857))
where poly.name_1 = 'Saitama'
order by population_rate
limit 10;
"""

## Outputs

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)